---
import { getPosts } from '../lib/posts'
const posts = await getPosts()
---
<html>
  <body>
    <h1>Blog Home</h1>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/post/${post.id}`}>{post.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>