---
import { getPosts } from '../lib/posts'
const posts = await getPosts()
---
<html>
  <body>
    <h1>Blog Home</h1>
    <div>Welcome <span id="username">username</span></div>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/post/${post.id}`}>{post.title}</a>
        </li>
      ))}
    </ul>
    <script>
        fetch('/api/user/details')
          .then(res => res.json())
          .then(data => {
            document.getElementById('username').innerText = data.username
            console.log(data)
          })
    </script>
  </body>
</html>