---

---

<div>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <button id="loginButton">Login</button>
</div>

<script>
   document.getElementById('loginButton').addEventListener('click', async (event) => {
        event.preventDefault()
        const username = (document.getElementById("username") as HTMLInputElement).value
        const password = (document.getElementById("password") as HTMLInputElement).value

        const response = await fetch('/api/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })

        const data = await response.json()

        if (data.success) {
            document.cookie = `${data.sessionCookie.name}=${data.sessionCookie.value}; ${data.sessionCookie.attributes}`
            window.location.href = "/"
        } else {
            alert(data.message)
        }
    })
</script>