---
import Base from '../layouts/base.astro'
import { lucia } from "../lib/auth"
import { getTags } from '../lib/tags'
const cookiename = lucia.sessionCookieName

let tags = await getTags()
---
<Base title="Read" classes="min-h-screen flex flex-col items-center">
    <div class='text-4xl font-bold mb-6'>Read</div>
    <div id="tags-container" class='w-full max-w-3xl flex flex-col gap-4'>
        <button class='border rounded-lg p-4 bg-white text-black shadow-md cursor-pointer' onclick="window.location.href='/posts'">
            show all posts
        </button>
        {tags.map(tag => (
            <button class='border rounded-lg p-4 bg-white text-black shadow-md cursor-pointer' key={tag.name} data-tag={tag.name}>
                {tag.name}
            </button>
        ))}
    </div>
    <script define:vars={{ cookiename }}>
        var cookies = document.cookie.split(';').reduce((acc, cookie) => {
            const [name, value] = cookie.split('=').map(c => c.trim())
            acc[name] = value
            return acc
        }, {})

        var checkifloggedin = cookies[cookiename] ?? null
        if (!checkifloggedin) {
            window.location.href = "/login"
        }

        document.querySelectorAll('[data-tag]').forEach(button => {
            button.addEventListener('click', () => {
                const tag = button.getAttribute('data-tag')
                window.location.href = `/tag/${tag}`
            })
        })
    </script>
</Base>