---
import { lucia } from "../lib/auth"

const cookiename = lucia.sessionCookieName

import Base from '../layouts/base.astro'
---
<Base title="Sign Up" classes="min-h-screen flex flex-col items-center">
  <div class="flex flex-col items-center justify-center gap-2 grow">
    <h1 class="text-4xl p-3">Sign Up</h1>
    <div class="flex flex-col items-center justify-center gap-2">
      <input type="text" id="signupUsername" name="username" placeholder="Username" required class="bg-white focus:outline-none text-black px-2 py-1 rounded" />
      <input type="email" id="signupEmail" name="email" placeholder="Email" required class="bg-white focus:outline-none text-black px-2 py-1 rounded" />
      <input type="password" id="signupPassword" name="password" placeholder="Password" required class="bg-white focus:outline-none text-black px-2 py-1 rounded" />
      <input type="text" id="signupDisplayName" name="displayname" placeholder="Display Name" class="bg-white focus:outline-none text-black px-2 py-1 rounded" />
      <div class="flex flex-col gap-1 bg-white p-2 rounded text-black">
        <label for="profilepic" class="text-sm">Profile Picture:</label>
        <input type="file" id="signupProfilePic" name="profilepic" accept="image/*" />
      </div>
      <button id="signupButton" class="rounded p-2">
        <p id="signuptext">
          Sign Up
        </p>
        <div id="spinner" class="spinner hidden"></div>
      </button>
    </div>
  </div>
    <script define:vars={{ cookiename }}>

      var cookies = document.cookie.split(';').reduce((acc, cookie) => {
        const [name, value] = cookie.split('=').map(c => c.trim())
        acc[name] = value
        return acc
      }, {})

      var checkifloggedin = cookies[cookiename] ?? null
      if (checkifloggedin) {
        window.location.href = "/home"
      }

      document.getElementById('signupButton').addEventListener('click', async (event) => {
        event.preventDefault()
        const username = document.getElementById("signupUsername").value
        const email = document.getElementById("signupEmail").value
        const password = document.getElementById("signupPassword").value
        const displayname = document.getElementById("signupDisplayName").value
        const profilepicFile = document.getElementById("signupProfilePic").files[0]

        if (!username || !email || !password || !displayname) {
          alert("Username, email, display name and password are required.")
          return
        }

        let profilepic = ""
        if (profilepicFile) {
          const reader = new FileReader()
          reader.readAsDataURL(profilepicFile)
          profilepic = await new Promise((resolve) => {
            reader.onload = () => resolve(reader.result)
          })
        }

        document.getElementById("signuptext").classList.add("hidden")
        document.getElementById("spinner").classList.remove("hidden")


        const response = await fetch('/api/signup', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, email, password, displayname, profilepic })
        })

        const data = await response.json()

        if (data.success) {
            document.cookie = `${data.sessionCookie.name}=${data.sessionCookie.value}; ${data.sessionCookie.attributes}`
            document.getElementById("signuptext").classList.remove("hidden")
            document.getElementById("spinner").classList.add("hidden")
            window.location.href = "/home"
        } else {
            alert(data.message)
        }
      })

    </script>
     <style>
      .spinner {
          border: 4px solid rgba(255, 255, 255, 0.3);
          border-top: 4px solid #fff;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          animation: spin 1s linear infinite;
      }
      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
      }
  </style>
<Base>