---
const { title } = Astro.props
const { classes } = Astro.props
---
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/pen.png" type="image/x-icon">
  </head>
  <body class={classes}>
      <slot />
  </body>
</html>